<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/chatroom.css">
  <title>Chatroom</title>
</head>
<body>
  <div class="container">
    <div class="wechat-container">
      <div class="side-nav">
        <div class="own-avatar avatar"></div>
      </div>
      <div class="user-list">
        <div class="user-search">
          <input type="text" name="search" id="search" placeholder="Search Member..." autocomplete="off">
        </div>
        <div class="members-list-container">
          <ul class="members-list">
            <li class="user-active" id="Group">
              <div class="wrap">
                <div class="red-point"></div>
                <div class="user-head avatar">
                  <img src="../all_members.jpg" alt="">
                </div>
              </div>
              <div class="user-text">
                <p class="user-name">
                  Group
                </p>
                <p class="user-message">
                  
                </p>
              </div>
              <div class="message-time">
                
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="chat-container">
        <div class="chat-head">
          <span>Group</span>
          <div class="typing-wrap">
            <p class="typing">Typing...</p>
          </div>
        </div>
        <div class="chat-body Group">

        </div>
        <div class="chat-footer">
          <form action="">
            <textarea type="text" name="messagebox" id="messagebox"></textarea>
            <button type="submit" id="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    $(function () {
      var socket = io();
      var user = `<%= user %>`
      var username = `<%= user.name %>`;
      var chatBody = $('.Group');
      var messageBox = $('#messagebox');
      var to = 'Group';
      var group = to;
      var listedUser = [username];

      var avatarPath = `../images/${username}.png`;
      $('.own-avatar').css('background', 'url(' + avatarPath + ')');

      $('#search').on('input', function(){
        var keyword = $(this).val();
        $.ajax({
          method: 'GET',
          url: '/search',
          data: {keyword: keyword},
          dataType: 'JSON',
          error: function(err){
            console.log('error on search: '+err)
          },
          success: function(users){
            $('.members-list').children().hide()
            $(`#${group}`).show()
            for(user of users.results){
              $(`#${user.name}`).show()
            }
          }
        })
      })

      socket.on('connect', function() {
        socket.emit('join', username);
      });
      $('#messagebox').on('keypress', function() {
        socket.emit('istyping', {from: username, to: to, istyping: true})
      })
      $('#messagebox').on('keyup', function() {
        setTimeout(()=>{
          socket.emit('istyping', {from: username, to: to, istyping: false})
        }, 800)
      })
      socket.on('istyping', (obj)=>{
        if(obj.istyping){
          let userLi = $('.members-list').find(`#${obj.from}`)
          if(userLi.hasClass('user-active'))
            $('.typing').css('visibility', 'visible');
        }else{
          $('.typing').css('visibility', 'hidden');
        }
      })
      $('form').submit(function(e){
        e.preventDefault(); // prevents page reloading
        socket.emit('chat message', {from: username, to: to}, $('#messagebox').val());
        $('#messagebox').val('');
        return false;
      });
      socket.emit('initlist', listedUser)
      socket.on('initlist', (connectedUsers) => {
        for(user of connectedUsers){
          if(listedUser.indexOf(user.name) < 0){
            $('.members-list').append(
               `<li id='${user.name}'>
                  <div class="wrap">                  
                    <div class="red-point"></div>
                    <div class="user-head avatar">
                      <img src="../images/${user.name}.png" alt="">
                    </div>
                  </div>
                  <div class="user-text">
                    <p class="user-name">
                      ${user.name}
                    </p>
                    <p class="user-message">
                    </p>
                  </div>
                  <div class="message-time">
                  </div>
                </li>`.trim()
            )
            $(`.${group}`).after(
              `<div class="chat-body ${user.name}" style="display: none;">

              </div>`.trim()
            )
            listedUser.push(user.name)
          }
        }
      })
      $(".members-list").on( "click", "li", function() {
        $('.user-active').removeClass('user-active')
        $(this).addClass('user-active')
        $(this).find('.red-point').css('visibility', 'hidden');
        let name = $(this).attr('id')
        let newChatBody = $(`.${name}`)
        // newChatBody.show()
        chatBody.hide()
        chatBody = newChatBody
        chatBody.show()
        $('.chat-head span').text(name)
        $('.typing').css('visibility', 'hidden');
        to = name;
      });

      // $('#messagebox').keypress(e => {
      //   if(e.which == 13){
      //     $('#submit').focus().click();
      //   }
      // });
      socket.on('chat message', function(obj, msg, dt){
        if(obj.from == username){
          let newChatBody = $(`.${obj.to}`)
          newChatBody.append(
             // append right side
             `<div class="sender">
                <div>
                  <img src="../images/${obj.from}.png">
                </div>
                <p>${obj.from}</p>
                <div>
                  <div class="left_triangle"></div>
                  <pre>${msg}</pre>
                </div>
              </div>`.trim()
          )
        }else{
          let newChatBody = (obj.to == group) ? $(`.${obj.to}`) : $(`.${obj.from}`)
          let userLi = (obj.to == group) ? $('.members-list').find(`#${group}`) : $('.members-list').find(`#${obj.from}`)
          newChatBody.append(
            // append left side
             `<div class="receiver">
                <div>
                  <img src="../images/${obj.from}.png">
                </div>
                <p>${obj.from}</p>
                <div>
                  <div class="right_triangle"></div>
                  <pre>${msg}</pre>
                </div>
              </div>`.trim()
          )
          if(!userLi.hasClass('user-active'))
            userLi.find('.red-point').css('visibility', 'visible');          
          userLi.find('.user-message').text(msg)
          userLi.find('.message-time').text(dt)
        }
        /* auto scroll to bottom */
        if($('.user-active').attr('id') == obj.to){
          chatBody.scrollTop(chatBody[0].scrollHeight)
        }
        
      });
    });
    const scale = window.screen.width / 750
    document.write(`<meta name="viewport" content="initial-scale=${scale}">`)
  </script>
</body>
</html>