<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/index.css">
  <title>Chatroom Login</title>
</head>
<body>
  <div class="container">
    <form action="/" method="post">
      <h1>What shall we call you?</h1>
      <div class="div-space"></div>
      <input type="text" name="name" id="name" placeholder="your nickname..." required>
      <div class="div-space"></div>
      <button type="submit" id="submit">let's chat</button>
    </form>
  </div>
</body>
</html>