*{
  padding: 0px;
  margin:  0px;
  box-sizing: border-box;
  outline: none;
}

html, body{
  background-color: #DCDCDC;
  font-family: "Lucida Grande";
  font-weight: 400;
  color: #333333;
  height: 100%;
  width: 100%;
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* messages */

.chat-container{
  width: 100%;
  overflow: scroll;
  flex: 1;
}

/* message box */

.messagebox-container{
  display: flex;
  height: 13.3em;
}

form{
  height: 13.3em;
}

.messagebox-wrapper{
  display: block;
  border: 1px 0 0 0 solid #808080;
  background-color: #F5F5F5;
  width: 100%;
  height: 10em;
  position: absolute;
  bottom: 3.3em;
}

#messagebox{
  width: 100%;
  resize: none;
  border: none;
  height: 100%;
  font-size: 1.5em;
  padding: 1em 1em .2em 1em; 
}

/* submit button */

.footer{
  display: block;
  width: 100%;
  height: 3.3em;
  /* height: 15%; */
  position: absolute;
  bottom: 0;
  background-color: white;
}

#submit{
  background-color: #F5F5F5;
  color: black;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: .3em;
  border: 1px solid black;
  font-size: 1em;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

#submit:hover{
  background-color: #DCDCDC;
}


/* bubble style */

.sender,
.receiver{
  clear:both;
}

.receiver div:nth-of-type(1){
  float: left;
}
.receiver div:nth-of-type(2){
  background-color: white;
  float: left;
  margin: 0 20px 10px 15px;
  padding: 10px 20px 10px 0px;
  border-radius:7px;
}

.sender div:nth-child(1){
  float: right;
}
.sender div:nth-of-type(2){
  float:right;
  background-color: #9eea6a;
  margin: 0 10px 10px 20px;
  padding: 10px 0px 10px 20px;
  border-radius:7px;
}

.right_triangle{
  height:0px;  
  width:0px;  
  border-width:8px;  
  border-style:solid;  
  border-color:transparent white transparent transparent;  
  position: relative;
  left:-16px;
  top:3px;
}

.left_triangle{
  height:0px;  
  width:0px;  
  border-width:8px;  
  border-style:solid;  
  border-color:transparent transparent transparent #9eea6a;  
  position: relative;
  right:-16px;
  top:3px;
}

.receiver div:first-child img,
.sender div:first-child img{
  width:50px;
  height: 50px;
}

.receiver pre,
.sender pre{
  display: inline-block;
}