*{
  padding: 0px;
  margin:  0px;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

html, body{
  font-family: "Lucida Grande";
  font-weight: 400;
  color: #333333;
  height: 100%;
  width: 100%;
  display: block;
}

div{
  display: block;
}

img { 
  width: auto; 
  max-width: 100%; 
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  display: -webkit-flex; /* Safari */
  align-items: center;
  justify-content: center;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
}

.wechat-container{
  height: 680px;
  width: 860px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
}

/* side nav */

.side-nav{
  width: 10%;
  background-color: #2A2E32;
  height: 100%;
  padding-top: 20px;
  border-radius: 4px 0 0 4px;
  float: left;
}

.avatar{
  border-radius: 2px;
  width: 40px;
  height: 40px;
  /* position: relative;
  display: inline-block; */
}

.own-avatar{
  background-size: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* member list */

.user-search{
  height: 62px;
  line-height: 62px;
  width: 100%;
  display: flex;
  align-items: center;
}

#search{
  width: 190px;
  height: 25px;
  background-color: #E5E2E2;
  border: 1px solid #D9D7D6;
  margin-left: auto;
  margin-right: auto;
}

.user-list{
  width: 30%;
  height: 100%;
  float: left;
  background-color: #E6E5E5;
  overflow: hidden;
  display: block;
}

.members-list-container{
  width: 100%;
  display: inline-block;
  position: relative;
  height: calc(100% - 62px);
  overflow: scroll;
}

.members-list{
  width: 100%;
}

li{
  display: list-item;
  text-align: -webkit-match-parent;
}

.members-list li{
  width: 100%;
  height: 64px;
  padding: 12px;
}

.members-list li:hover{
  background: #DEDBDB;
}

.user-active{
  background: #DEDBDB;
}

.user-head{
  float: left;
  overflow: hidden;
  background: #999999;
}

.user-text{
  float: left;
  height: 40px;
  width: 120px;
  padding-left: 8px;
}

.user-text p{
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-name{
  color: #333333;
  font-size: 14px;
}

p{
  margin: 0;
}

.user-message{
  color: #999999;
  font-size: 12px;
}

.message-time{
  float: right;
  color: #999999;
  font-size: 12px;
}

.chat-container{
  width: 60%;
  height: 100%;
  float: left;
  background-color: #F5F5F5;
}

.chat-head{
  padding-top: 10px;
  height: 62px;
  border-bottom: 1px solid #E7E7E7;
}

.chat-head span{
  font-size: 18px;
  color: #333333;
  line-height:42px;
  padding-left: 20px;
  display: inline-block;
}

.chat-body{
  height: 473px;
  width: 100%;
  padding: 18px 18px 0 18px;
  width: 100%;
  overflow: scroll;
}

.chat-footer{
  width: 100%;
  height: 145px;
  border-top: 1px solid #ECECEC;
}

#messagebox{
  width: 100%;
  resize: none;
  border: none;
  padding: 16px 16px 3.2px 16px;
  height: 80px;
  background-color: #F5F5F5;
}

.chat-footer:hover,
.chat-footer:hover #messagebox{
  background-color: white;    
}

/* submit button */

#submit{
  background-color: #F5F5F5;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4.8px;
  border: 1px solid black;
  float: right;
  margin-right: 28px;
  margin-top: 18px;
}

#submit:hover{
  background-color: #DCDCDC;
}

/* bubble style */

.sender,
.receiver{
  clear:both;
}

.receiver div:nth-of-type(1){
  float: left;
}
.receiver div:nth-of-type(2){
  background-color: white;
  float: left;
  margin: 0 20px 10px 15px;
  padding: 10px 20px 10px 0px;
  border-radius:7px;
}

.sender div:nth-child(1){
  float: right;
}
.sender div:nth-of-type(2){
  float:right;
  background-color: #9eea6a;
  margin: 0 10px 10px 20px;
  padding: 10px 0px 10px 20px;
  border-radius:7px;
}

.right_triangle{
  height:0px;  
  width:0px;  
  border-width:8px;  
  border-style:solid;  
  border-color:transparent white transparent transparent;  
  position: relative;
  left:-16px;
  top:3px;
}

.left_triangle{
  height:0px;  
  width:0px;  
  border-width:8px;  
  border-style:solid;  
  border-color:transparent transparent transparent #9eea6a;  
  position: relative;
  right:-16px;
  top:3px;
}

.receiver div:first-child img,
.sender div:first-child img{
  width:50px;
  height: 50px;
}

.receiver pre,
.sender pre{
  display: inline-block;
}